{%extends "app/base.html"%}
{% block body %}
        

        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">            
                <!-- Navbar -->
                <nav class="navbar-custom">    
                    <ul class="list-unstyled topbar-nav float-right mb-0">  
                        <li class="dropdown hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="search" class="topbar-icon"></i>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg p-0">
                                <!-- Top Search Bar -->
                                <div class="app-search-topbar">
                                    <form action="#" method="get">
                                        <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>                      

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="bell" class="align-self-center topbar-icon"></i>
                                <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg pt-0">
                            
                                <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                    Notifications <span class="badge badge-primary badge-pill">2</span>
                                </h6> 
                                <div class="notification-menu" data-simplebar>
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">10 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Meeting with designers</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">40 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">                                                    
                                                <i data-feather="users" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">UX 3 Task complete.</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">1 hr ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 hrs ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Payment Successfull</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <span class="ml-1 nav-user-name hidden-sm">Nick</span>
                                <img src="../static/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />                                 
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual mr-1"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual mr-1"></i> Settings</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i> Logout</a>
                            </div>
                        </li>
                    </ul><!--end topbar-nav-->
        
                    <ul class="list-unstyled topbar-nav mb-0">                        
                        <li>
                            <button class="nav-link button-menu-mobile">
                                <i data-feather="menu" class="align-self-center topbar-icon"></i>
                            </button>
                        </li> 
                        <li class="creat-btn">
                            <div class="nav-link">
                                <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus mr-2"></i>New Task</a>
                            </div>                                
                        </li>                           
                    </ul>
                </nav>
                <!-- end navbar-->
            </div>
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Files</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                                            <li class="breadcrumb-item active">Files</li>
                                        </ol>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <button class="btn btn-outline-primary btn-sm add-file"><i class="fas fa-plus mr-2 "></i>Create Folder</button>
                                        <button class="btn btn-outline-primary btn-sm add-file"><i class="fas fa-upload mr-2 "></i>Upload File</button>
                                        <input id="Add_File" type="file" name="files[]" multiple style='display: none;'>
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary">
                                            <i data-feather="download" class="align-self-center icon-xs"></i>
                                        </a>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">                      
                                            <h4 class="card-title">Categories</h4>                      
                                        </div><!--end col-->
                                        <div class="col-auto"> 
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <!-- <i class="las la-menu align-self-center text-muted icon-xs"></i>  -->
                                                    <i class="mdi mdi-dots-horizontal text-muted"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Create Folder</a>
                                                    <a class="dropdown-item" href="#">Delete</a>
                                                    <a class="dropdown-item" href="#">Settings</a>
                                                </div>
                                            </div>       
                                        </div><!--end col-->
                                    </div>  <!--end row-->                                  
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="files-nav">                                     
                                        <div class="nav flex-column nav-pills" id="files-tab">
                                            <a class="nav-link active" id="files-projects-tab" data-toggle="pill" href="#files-projects" aria-selected="true">
                                               
                                                <i data-feather="folder" class="align-self-center icon-dual-file icon-sm mr-3"></i>
                                                <div class="d-inline-block align-self-center">
                                                    <h5 class="m-0">Projects</h5>
                                                    <small>80GB/200GB Used</small>                                                    
                                                </div>
                                            </a>
                                            <a class="nav-link" id="files-pdf-tab" data-toggle="pill" href="#files-pdf" aria-selected="false">
                                                <i data-feather="folder" class="align-self-center icon-dual-file icon-sm mr-3"></i>
                                                <div class="d-inline-block align-self-center">
                                                    <h5 class="m-0">Pdf Files</h5>
                                                    <small>80GB/200GB Used</small>                                                    
                                                </div>
                                            </a>
                                            <a class="nav-link  align-items-center" id="files-documents-tab" data-toggle="pill" href="#files-documents" aria-selected="false">
                                                <i data-feather="folder" class="align-self-center icon-dual-file icon-sm mr-3"></i>
                                                <div class="d-inline-block align-self-center">
                                                    <h5 class="m-0">Documents</h5>
                                                    <small>80GB/200GB Used</small>                                                    
                                                </div>                                                
                                                <span class="badge badge-success ml-auto font-10">8</span>
                                            </a>
                                            <a class="nav-link mb-0"  href="#" data-toggle="modal" data-animation="bounce" data-target=".hide-modal">
                                                <i data-feather="lock" class="align-self-center icon-dual-file icon-sm mr-3"></i>
                                                <div class="d-inline-block align-self-center">
                                                    <h5 class="m-0">Files Lock</h5>
                                                    <small>80GB/200GB Used</small>                                                    
                                                </div>                                                                                         
                                            </a>
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->

                            <div class="card">
                                <div class="card-body">                                        
                                    <small class="float-right">62%</small>
                                    <h6 class="mt-0">620GB / 1TB Used</h6>
                                    <div class="progress" style="height: 5px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 62%;" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->

                        <div class="col-lg-9">
                            <div class="">                                    
                                <div class="tab-content" id="files-tabContent">
                                    
                                    <div class="tab-pane fade show active" id="files-projects">
                                        <h4 class="card-title mt-0 mb-3">Projects</h4>                                         
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-alt text-primary"></i>
                                                    <h6 class="text-truncate">Admin_Panel</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-code text-danger"></i>
                                                    <h6 class="text-truncate">Ecommerce.pdf</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-archive text-warning"></i>
                                                    <h6 class="text-truncate">Payment_app.zip</h6>
                                                    <small class="text-muted">11 April 2019 / 10MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file text-secondary"></i>
                                                    <h6 class="text-truncate">App_landing_001</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>                                                
                                        </div> 
                                        
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="card-title my-3">Freelancing Projects</h4>  
                                            </div>
                                        </div>
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-alt text-primary"></i>
                                                    <h6 class="text-truncate">Admin_Panel</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-code text-info"></i>
                                                    <h6 class="text-truncate">Ecommerce.pdf</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>                                                                                               
                                        </div>
                                    </div><!--end tab-pane-->

                                    <div class="tab-pane fade" id="files-pdf">
                                        <h4 class="mt-0 card-title mb-3">PDF Files</h4>
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-info"></i>
                                                    <h6 class="text-truncate">Admin_Panel</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-danger"></i>
                                                    <h6 class="text-truncate">Ecommerce.pdf</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-warning"></i>
                                                    <h6 class="text-truncate">Payment_app.zip</h6>
                                                    <small class="text-muted">11 April 2019 / 10MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-secondary"></i>
                                                    <h6 class="text-truncate">App_landing_001.pdf</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>                                                
                                        </div> 
                                    </div><!--end tab-pane-->

                                    <div class="tab-pane fade" id="files-documents">
                                        <h4 class="mt-0 card-title mb-3">Documents</h4>
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-info"></i>
                                                    <h6 class="text-truncate">Adharcard_update</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-danger"></i>
                                                    <h6 class="text-truncate">Pancard</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-warning"></i>
                                                    <h6 class="text-truncate">ICICI_statment</h6>
                                                    <small class="text-muted">11 April 2019 / 10MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-secondary"></i>
                                                    <h6 class="text-truncate">March_Invoice</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>                                                
                                        </div> 

                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="card-title my-3">Company Documents</h4>  
                                            </div>
                                        </div>
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-success"></i>
                                                    <h6 class="text-truncate">Adharcard_update</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-pink"></i>
                                                    <h6 class="text-truncate">Pancard</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-purple"></i>
                                                    <h6 class="text-truncate">ICICI_statment</h6>
                                                    <small class="text-muted">11 April 2019 / 10MB</small>
                                                </div>                                                        
                                            </div>                                                                                           
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="card-title my-3">Personal Documents</h4>  
                                            </div>
                                        </div>
                                        <div class="file-box-content">
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-blue"></i>
                                                    <h6 class="text-truncate">Adharcard_update</h6>
                                                    <small class="text-muted">06 March 2019 / 5MB</small>
                                                </div>                                                        
                                            </div>
                                            <div class="file-box">
                                                <a href="#" class="download-icon-link">
                                                    <i class="dripicons-download file-download-icon"></i>
                                                </a>
                                                <div class="text-center">
                                                    <i class="lar la-file-pdf text-dark"></i>
                                                    <h6 class="text-truncate">Pancard</h6>
                                                    <small class="text-muted">15 March 2019 / 8MB</small>
                                                </div>                                                        
                                            </div>                                                                                    
                                        </div>
                                    </div><!--end tab-pen-->

                                    <div class="tab-pane fade" id="files-hide">
                                        <h4 class="mt-0 card-title mb-3">Hide</h4>
                                    </div><!--end tab-pane-->
                                </div>  <!--end tab-content-->                                                                              
                            </div><!--end card-body-->
                        </div><!--end col-->
                    </div><!--end row-->

                </div><!-- container -->
                <div class="modal fade hide-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="exampleModalLabel">Enter Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="la la-times text-dark"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="p-3">
                                    <form class="form-horizontal" action="index.html">
            
                                        <div class="text-center mb-4">
                                            <div class="avatar-box thumb-xl align-self-center mr-2">
                                                <span class="avatar-title bg-light rounded-circle text-danger"><i class="las la-lock"></i></span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="HideCard">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" id="HideCard"><i class="las la-key"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
{%endblock body%}