{%extends "base.html"%}
{%block body%}
        

        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">            
                <!-- Navbar -->
                <nav class="navbar-custom">    
                    <ul class="list-unstyled topbar-nav float-right mb-0">  
                        <li class="dropdown hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="search" class="topbar-icon"></i>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg p-0">
                                <!-- Top Search Bar -->
                                <div class="app-search-topbar">
                                    <form action="#" method="get">
                                        <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>                      

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="bell" class="align-self-center topbar-icon"></i>
                                <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg pt-0">
                            
                                <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                    Notifications <span class="badge badge-primary badge-pill">2</span>
                                </h6> 
                                <div class="notification-menu" data-simplebar>
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">10 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Meeting with designers</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">40 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">                                                    
                                                <i data-feather="users" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">UX 3 Task complete.</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">1 hr ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 hrs ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Payment Successfull</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <span class="ml-1 nav-user-name hidden-sm">Nick</span>
                                <img src="../static/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />                                 
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual mr-1"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual mr-1"></i> Settings</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i> Logout</a>
                            </div>
                        </li>
                    </ul><!--end topbar-nav-->
        
                    <ul class="list-unstyled topbar-nav mb-0">                        
                        <li>
                            <button class="nav-link button-menu-mobile">
                                <i data-feather="menu" class="align-self-center topbar-icon"></i>
                            </button>
                        </li> 
                        <li class="creat-btn">
                            <div class="nav-link">
                                <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus mr-2"></i>New Task</a>
                            </div>                                
                        </li>                           
                    </ul>
                </nav>
                <!-- end navbar-->
            </div>
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Teams</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Projects</a></li>
                                            <li class="breadcrumb-item active">Teams</li>
                                        </ol>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary">
                                            <i data-feather="download" class="align-self-center icon-xs"></i>
                                        </a>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h5 class="mt-0 font-14">Here the list of all available teams. <span class="badge badge-pink">6</span></h5>
                                </li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-6 text-right">
                            <div class="text-right">
                                <ul class="list-inline"> 
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-soft-primary btn-sm">Create Card</button>
                                    </li>
                                </ul>
                            </div>                            
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-4.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Marnie Flowers</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div>                
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">UI/UX Design Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class="mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+6</span>
                                            </a>                    
                                        </div>  
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div> 
                                    </div>                                     
                                   <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/widgets/project2.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Banking</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>     
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->

                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-5.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Willie Miller</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div>                                  
                                    
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">Web Design Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class=" mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-9.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+6</span>
                                            </a>                    
                                        </div>   
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div>        
                                    </div>
                                    <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/widgets/project1.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Payment App</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div> 
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-9.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Jason Haston</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div>                                  
                                    
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">Frontend Developer Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class="d-flex justify-content-between mt-4">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>                                        
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+6</span>
                                            </a>                    
                                        </div>
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div>           
                                    </div>
                                    <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/widgets/project3.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Transfer Money</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->                        
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-10.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Robert Marshall</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div> 
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">UI/UX Design Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class="mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-5.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+</span>
                                            </a>                    
                                        </div> 
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div> 
                                    </div>
                                    <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/widgets/project3.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Transfer Money</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>   
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-2.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Jason Haston</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div>                
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">Frontend Developer Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class="mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-10.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-8.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-6.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+6</span>
                                            </a>                    
                                        </div>
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div> 
                                    </div>
                                    <hr class="hr-dashed my-4">
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/widgets/project2.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Banking</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>      
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="float-right">                                        
                                        <div class="dropdown d-inline-block">
                                            <a class="dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="las la-ellipsis-v font-24 text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                                                <a class="dropdown-item" href="#">Open Project</a>
                                                <a class="dropdown-item" href="#">Edit Card</a> 
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="media align-items-center">                                                
                                        <img src="../static/assets/images/users/user-1.jpg" alt="" class="rounded-circle user-img">
                                        <div class="online-circle">
                                            <i class="fa fa-circle text-success"></i>
                                        </div>                                        
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Marnie Flowers</h4>
                                            <p class="text-muted font-12 mb-0">Team Leader</p>                                            
                                        </div>                                                                           
                                    </div>
                                    <h4 class="m-0 mt-4 font-14 font-weight-semibold">Backend Developer Team</h4>
                                    <p class="text-muted mb-0">Contrary to popular belief, Lorem Ipsum is not simply</p>
                                    <div class="mt-4 d-flex justify-content-between">
                                        <div class="img-group">
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-9.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-3.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-7.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a class="user-avatar user-avatar-group" href="#">
                                                <img src="../static/assets/images/users/user-2.jpg" alt="user" class="rounded-circle thumb-xxs">
                                            </a>
                                            <a href="" class="avatar-box thumb-xxs align-self-center">
                                                <span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">+6</span>
                                            </a>                    
                                        </div>  
                                        <div class="align-self-center">
                                            <button type="button" class="btn btn-xs btn-light btn-round">View Details <i class="mdi mdi-arrow-right"></i></button>
                                        </div> 
                                    </div>
                                    <hr class="hr-dashed my-4">
                                    <div class="media align-items-center mt-4">                                                
                                        <img src="../static/assets/images/widgets/project1.jpg" alt="" class="rounded-circle thumb-sm">
                                        <div class="media-body ml-3 align-self-center">
                                            <h4 class="team-leader m-0">Payment App</h4>
                                            <div class="d-flex justify-content-between">
                                                <span>
                                                    <a class="" href="#">
                                                        <i class="mdi mdi-format-list-bulleted text-success"></i>
                                                        <span class="text-muted">15/100</span>
                                                    </a>
                                                </span>
                                                <span class="text-muted">55% Complete</span>
                                            </div>
                                            <div class="progress mt-0" style="height:3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>                                           
                                        </div>                                                                           
                                    </div>   
                                             
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->

                </div><!-- container -->
{%endblock body%}