{%extends "app/base.html"%}
{%block body%}

        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">            
                <!-- Navbar -->
                <nav class="navbar-custom">    
                    <ul class="list-unstyled topbar-nav float-right mb-0">  
                        <li class="dropdown hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="search" class="topbar-icon"></i>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg p-0">
                                <!-- Top Search Bar -->
                                <div class="app-search-topbar">
                                    <form action="#" method="get">
                                        <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>                      

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="bell" class="align-self-center topbar-icon"></i>
                                <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg pt-0">
                            
                                <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                    Notifications <span class="badge badge-primary badge-pill">2</span>
                                </h6> 
                                <div class="notification-menu" data-simplebar>
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">10 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Meeting with designers</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">40 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">                                                    
                                                <i data-feather="users" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">UX 3 Task complete.</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">1 hr ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="../static/assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-right text-muted pl-2">2 hrs ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ml-2 text-truncate">
                                                <h6 class="my-0 font-weight-normal text-dark">Payment Successfull</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <span class="ml-1 nav-user-name hidden-sm">Nick</span>
                                <img src="../static/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />                                 
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual mr-1"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual mr-1"></i> Settings</a>
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i> Logout</a>
                            </div>
                        </li>
                    </ul><!--end topbar-nav-->
        
                    <ul class="list-unstyled topbar-nav mb-0">                        
                        <li>
                            <button class="nav-link button-menu-mobile">
                                <i data-feather="menu" class="align-self-center topbar-icon"></i>
                            </button>
                        </li> 
                        <li class="creat-btn">
                            <div class="nav-link">
                                <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus mr-2"></i>New Task</a>
                            </div>                                
                        </li>                           
                    </ul>
                </nav>
                <!-- end navbar-->
            </div>
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Checkout</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Checkout</li>
                                        </ol>
                                    </div><!--end col-->
                                    <div class="col-auto align-self-center">
                                        <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                            <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                            <span class="" id="Select_date">Jan 11</span>
                                            <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary">
                                            <i data-feather="download" class="align-self-center icon-xs"></i>
                                        </a>
                                    </div><!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Order Summary</h4>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="table-responsive shopping-cart">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0">Product</th>
                                                    <th class="border-top-0">Quantity</th>                                                        
                                                    <th class="border-top-0">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="../static/assets/images/products/img-5.png" alt="" height="36">
                                                        <p class="d-inline-block align-middle mb-0 product-name">Reebok Bag</p> 
                                                    </td>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>$198</td>                                                        
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="../static/assets/images/products/01.png" alt="" height="36">
                                                        <p class="d-inline-block align-middle mb-0 product-name">White Morden Camera</p> 
                                                    </td>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>$150</td>                                                       
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="../static/assets/images/products/img-4.png" alt="" height="36">
                                                        <p class="d-inline-block align-middle mb-0 product-name">Lava Purse</p> 
                                                    </td>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>$49</td>                                                       
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="../static/assets/images/products/02.png" alt="" height="36">
                                                        <p class="d-inline-block align-middle mb-0 product-name">Important Shoes</p>
                                                    </td>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>$99</td>
                                                </tr>  
                                                <tr>
                                                    <td>
                                                        <h6>Total :</h6>
                                                    </td>
                                                    <td></td>
                                                    <td class="text-dark"><strong>$496</strong></td>
                                                </tr>                                                    
                                            </tbody>
                                        </table>
                                    </div><!--end re-table-->
                                    <div class="total-payment">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <td class="payment-title">Subtotal</td>
                                                    <td>$496.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="payment-title">Shipping</td>
                                                    <td>
                                                        Shipping Charge : $5.00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="payment-title">Promo Code</td>
                                                    <td>-$10.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="payment-title">Total</td>
                                                    <td class="text-dark"><strong>$491.00</strong></td>
                                                </tr>
                                            </tbody>
                                        </table><!--end table-->
                                    </div><!--end total-payment-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Delivery Address</h4>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">First Name</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text" id="firstname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Last Name</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text" id="lastname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Delivery Address</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <textarea class="form-control form-control-sm" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">City</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text" id="city">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">State</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <select class="form-control form-control-sm">
                                                <option>Select</option>
                                                <option>Gujarat</option>
                                                <option>New york</option>
                                                <option>California</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Country</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <select class="form-control form-control-sm">
                                                <option>Select</option>
                                                <option>India</option>
                                                <option>USA</option>
                                                <option>New Zealand</option>                                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Zip Code</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Email Address</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 text-right align-self-center mb-lg-0">Mobile No</label>
                                        <div class="col-lg-9 col-xl-8">
                                            <input class="form-control form-control-sm" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-9 col-xl-8 offset-lg-3 offset-xl-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="horizontalCheckbox" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label" for="horizontalCheckbox">Confirm Shipping Address</label>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div><!--end card-body-->
                            </div><!--end card-->                            
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Billing Details</h4>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card border mb-1 shadow-none">
                                            <div class="card-header custom-accordion" id="headingOne">
                                                <a href="" class="text-dark d-flex justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="align-self-center">Credit Card</span>
                                                    <img src="../static/assets/images/cards/card-2.png" alt="" height="30">
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="row">  
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="Card_No">Card No :</label>
                                                                <input type="text" class="form-control form-control-sm" id="Card_No" required="" placeholder="1234-5678-9123-4567">
                                                            </div>
                                                        </div>  <!--end col-->                               
                                                        <div class="col-md-4">
                                                            <div class="form-group mb-lg-0">
                                                                <label for="select_month" class="mr-2">Expiry Month</label>
                                                                <select class="custom-select custom-select-sm" id="select_month">
                                                                    <option selected="">-- Select --</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                </select>
                                                            </div>                                    
                                                        </div><!--end col-->  
                                                        <div class="col-md-4">
                                                            <div class="form-group mb-lg-0">
                                                                <label for="select_year" class="mr-2">Expiry Year</label>
                                                                <select class="custom-select custom-select-sm" id="select_year">
                                                                    <option selected="">-- Select --</option>
                                                                    <option value="1">2020</option>
                                                                    <option value="2">2021</option>
                                                                    <option value="3">2022</option>
                                                                    <option value="4">2023</option>
                                                                    <option value="5">2024</option>
                                                                    <option value="6">2025</option>
                                                                </select>
                                                            </div>
                                                        </div> <!--end col--> 
                                                        <div class="col-md-4">
                                                            <div class="form-group mb-lg-0">
                                                                <label for="CVV_Code">Security Code</label>
                                                                <input type="password" class="form-control form-control-sm" id="CVV_Code" required="" placeholder="Enter CVV">
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->                                                  
                                                </div><!--end card-body-->
                                            </div><!--end collapseOne-->
                                        </div><!--end card-->
                                        <div class="card mb-1 border shadow-none">
                                            <div class="card-header" id="headingTwo">
                                                <a href="" class="text-dark d-flex justify-content-between collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <span class="align-self-center">Paypal</span>
                                                    <img src="../static/assets/images/cards/card-5.png" alt="" height="30">
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p class="mb-0 text-muted">
                                                        Add Paypal form page
                                                    </p> 
                                                </div>
                                            </div>
                                        </div>                                                
                                    </div>   
                                    <button type="button" class="btn btn-block btn-secondary">PLACE YOUR ORDER</button>                              
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->

                </div><!-- container -->
{%endblock body%}